* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: Arial, sans-serif;
  color: #111827;
  background: #f8fafc;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p + p {
  margin-top: 16px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
  /*background: grey;*/
}

.hero {
  background: #EAE9D3;
  min-height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-box {
    width: 70%;
    height: 75vh;
    border: 3px solid black;
    border-radius: 30px;
    background: #EF805D;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 90px;
    gap: 0px;
}

.one-liner {
    width: 50%;
    font-size: 30px;
    margin: 0;
    font-weight: bolder;
    margin-top: 60px;
    text-align: center;
}

.say-hi {
    font-size: 70px;
    font-weight: 900;
    margin: 0;
    line-height: 0.8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
}

.my-name-question {
    font-size: 30px;
    font-weight: 900;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.name-box {
    width: 95%;
    height: 50vh;
    border: 3px solid black;
    border-radius: 30px;
    background: #EAE9D3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 25px;
}

.first-name {
    font-size: 120px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.last-name {
    font-size: 120px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main {
  background: #f8fafc;
}

.site-header {
  background: lightblue;
  border-bottom: 1px solid #e5e7eb;
}

.header-content {
  min-height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.nav-links {
  display: flex;
  gap: 48px;
}

.nav-links a {
  color: #111827;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.logo {
  width: 250px;
  height: auto;
  display: block;
  object-fit: contain;
  /*position: absolute;*/
}

.about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EF805D
}

.about-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  width: 100%;
}

.about-box {
    margin-left: 90px;
    width: 35%;
    height: auto;
    border: 3px solid black;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #b189bf;
}

.about-text {
  width: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 17px;
  font-weight: bolder;
  max-width: 100%;
}

.about-tags-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -95px;
}

.about-tags {
    margin-top: 100px;
    padding: 16px 0;
    margin-left: -5px;
    margin-right: 111px;
    width: 100%;
    height: auto;
    border: 3px solid black;
    border-radius: 8px;
    text-align: center;
    background: #7db7ca;

    font-size: 25px;
    font-weight: bolder;
}

.animated-sai {
  clip-path: circle(50%);
  margin-right: 90px;
  width: 500px;
  height: auto;
  display: block;
  object-fit: contain;
}

.projects-preview,
.blog-preview {
  padding: 20px 0;
}

.projects-preview {
    padding-top: 120px;
    padding-bottom: 120px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px 0;
    background: #b189bf;
}

.preview-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 85%;
    height: auto;
    border: 3px solid black; 
    border-radius: 15px;
    background: #EF805D
}

.blog-preview {
    padding-top: 120px;
    padding-bottom: 120px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px 0;
    background: #EF805D;
}

.preview-image {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 40%;
  height: auto;
  display: block;
  margin-left: 40px;
}

.project-description-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px 0;
}

.project-title {
    font-size: 80px;
    font-weight:800;
    text-align: end;
    margin-right: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.description-box {
    width: 75%;
    height: auto;
    border: 3px solid black;
    margin-right: 35px;
    border-radius: 7px;
    background: #ac6ec1
}

.description-text {
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tech-text {
    font-size: 15px;
    font-weight: normal;
    margin-right: 40px;
}

.button {
  display: inline-block;
  padding: 12px 18px;
  border: 1px solid #111827;
  border-radius: 8px;
  color: #111827;
  text-decoration: none;
}

.purple-button {
    background: #ac6ec1;
}

.red-button {
    background: #EF805D;
}

.button:hover {
  background: #111827;
  color: white;
}

.site-footer {
  background: lightblue;
  border-bottom: 1px solid #e5e7eb;
}

.footer-content {
  min-height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}